/* https://mycolor.space/?hex=%2300C2FF&sub=1 */
:root {
  --bg-color: #E6F4F1;
  --fg-color: #364954;
  
  --ac0-color: #00C2FF;
  --ac1-color: #009AD5;
  --ac2-color: #0074AC;
  --ac3-color: #005185;
  --ac4-color: #002F60;

  --base-scale6-color: #AD2370;
  --base-scale5-color: #D74364;
  --base-scale4-color: #F36C57;
  --base-scale3-color: #FF9A4F;
  --base-scale2-color: #FFC954;
  --base-scale1-color: #F9F871;
  --base-scale0-color: #44C08A;


  --neutral-color: rgba(154, 174, 187, .1);
  --neutral2-color: rgba(154, 174, 187, .5);
  --chart-invisible-color: #dbeae9;
}

@keyframes arrow {
  0% {
    color: var(--ac0-color);
    transform: translate3d(0, -50%, 0);
  }
  20% {
    color: var(--ac1-color);
    transform: translate3d(0, -50%, 0);
  }
  40% {
    color: var(--ac2-color);
    transform: translate3d(5px, -50%, 0);
  }
  50% {
    color: var(--ac2-color);
    transform: translate3d(0, -50%, 0);
  }
  60% {
    color: var(--ac3-color);
    transform: translate3d(0, -50%, 0);
  }
  80% {
    color: var(--ac4-color);
    transform: translate3d(5px, -50%, 0);
  }
  100% {
    color: var(--ac3-color);
    transform: translate3d(0, -50%, 0);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: var(--ac0-color);
}

.level-neutral {
  background: var(--neutral-color) !important;
}
.level-0 {
  background: var(--base-scale0-color) !important;
}
.level-1 {
  background: var(--base-scale3-color) !important;
}
.level-2 {
  background: var(--base-scale4-color) !important;
}
.level-3 {
  background: var(--base-scale5-color) !important;
  color: #fff;
}
.level-4 {
  background: var(--base-scale6-color) !important;
  color: #fff;
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.page-header {
  display: block;
  min-height: 40px;
  margin: 20px 0;
  width: 100%;
}

@media screen and (min-width:768px) {
  .page-header {
    margin: 40px 0;
    min-height: 80px;
  }
}

.page-header h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  margin: 0 0 5px 0;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width:768px) {
  .page-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.page-header h2 {
  font-size: 16px;
  line-height: 1;
}

@media screen and (min-width:768px) {
  .page-header h2 {
    font-size: 22px;
  }
}

.page-maps {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 40px 20px;
  width: auto;
}

@media screen and (min-width:1024px) {
  .page-maps {
    margin: 0 auto 40px auto;
    width: 960px;
  }
}

@media screen and (min-width:1280px) {
  .page-maps {
    width: 1200px;
  }
}

.page-map {
  display: block;
  flex: 0 0 50%;
  height: auto;
  margin: 0 0 30px 0;
  max-width: 50%;
  padding: 0 10px;
  position: relative;
  width: auto;
}

@media screen and (min-width:768px) {
  .page-map {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

.page-map-container {
  display: block;
  height: auto;
  position: relative;
  width: 100%;
}

.page-map-container::before {
  background: transparent url(picture.png) center center no-repeat;
  background: transparent url(shape.png) center center no-repeat;
  background-size: contain;
  content: '';
  display: block;
  padding-bottom: 100%;
  transition: background-image .25s ease-in-out;
  width: 100%;
}

.page-map-container:hover::before,
.page-map-container:active::before {
  background: transparent url(picture.png) center center no-repeat;
  background-size: contain;
}

.page-map .marker {
  background: var(--neutral-color);
  border-radius: 50%;
  display: block;
  font-family: 'Fira Mono', monospace;
  font-size: 9px;
  font-weight: 400;
  height: 10px;
  line-height: 10px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: 50% 50%;
  width: 10px;
}

@media screen and (min-width:768px) {
  .page-map .marker {
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    width: 15px;
  }
}

@media screen and (min-width:1024px) {
  .page-map .marker {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    width: 18px;
  }
}

.page-map .marker.marker-6 {
  left: 56%;
  top: 60%;
}

.page-map .marker.marker-2 {
  right: 22%;
  top: 38%;
}

.page-map .marker.marker-0 {
  left: 48%;
  top: 56%;
}

.page-map .marker.marker-1 {
  left: 60%;
  top: 30%;
}

.page-map .marker.marker-8 {
  right: 18%;
  top: 30%;
}

.page-map .marker.marker-3 {
  left: 60%;
  top: 43%;
}

.page-map .marker.marker-4 {
  left: 57%;
  top: 48%;
}

.page-map .marker.marker-7 {
  left: 40%;
  top: 42%;
}

.page-map .marker.marker-5 {
  right: 29%;
  top: 39%;
}

.page-map-title h2 {
  font-size: 8px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
}

@media screen and (min-width:768px) {
  .page-map-title h2 {
    font-size: 12px;
  }
}

.page-map-legend {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  left: 20px;
  position: absolute;
  right: 50%;
  width: auto;
  z-index: 3;
}

.page-map-legend-item {
  background: transparent !important;
  color: var(--fg-color) !important;
  display: block;
  flex: 0 0 50%;
  font-family: 'Fira Mono', monospace;
  font-size: 8px;
  font-weight: 400;
  line-height: 9px;
  padding: 0 0 0 2px;
  position: relative;
  text-align: left;
  text-shadow: 1px 0 0 var(--bg-color), -1px 0 0 var(--bg-color), 0 1px 0 var(--bg-color), 0 -1px 0 var(--bg-color);
  white-space: nowrap;
}

@media screen and (min-width:768px) {
  .page-map-legend-item {
    font-size: 10px;
    line-height: 11px;
  }
}

@media screen and (min-width:1280px) {
  .page-map-legend-item {
    font-size: 12px;
    line-height: 13px;
  }
}

.page-map-legend-item.level-unit {
  flex: 0 0 100%;
}

.page-map-legend-item::after {
  background: var(--fg-color);
  border-radius: 50%;
  content: '';
  display: block;
  height: 6px;
  right: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 6px;
}

.page-map-legend-item.level-0::after {
  background: var(--base-scale0-color);
}

.page-map-legend-item.level-1::after {
  background: var(--base-scale2-color);
}

.page-map-legend-item.level-2::after {
  background: var(--base-scale4-color);
}

.page-map-legend-item.level-3::after {
  background: var(--base-scale5-color);
}

.page-map-legend-item.level-4::after {
  background: var(--base-scale6-color);
}

.page-map-legend-item.level-neutral::after {
  background: var(--neutral2-color);
}

.page-map-legend-item.level-unit::after {
  background: transparent;
}


.page-map-legend-unit {
  display: block;
  font-family: 'Fira Mono', monospace;
  font-size: 8px;
  font-weight: 400;
  height: 12px;
  line-height: 12px;
  left: 50%;
  position: absolute;
  top: 10px;
  transform: translate3d(-50%, 0, 0);
  width: auto;
  z-index: 3;
}

@media screen and (min-width:768px) {
  .page-map-legend-unit {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    top: 18px;
  }
}

.page-title {
  margin: 0 0 20px 0;
}

.page-title h2 {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width:768px) {
  .page-title h2 {
    font-size: 18px;
  }
}

.page-title-light h2 {
  font-size: 10px;
  font-weight: 200;
}

.page-text {
  margin: 0 40px 40px 40px;
}

@media screen and (min-width:960px) {
  .page-text {
    margin: 0 auto 40px auto;
    width: 900px;
  }
}

@media screen and (min-width:1280px) {
  .page-text {
    margin: 0 auto 40px auto;
    width: 1200px;
  }
}

.page-text p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px 0;
}

.page-text strong {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

.page-text p:last-child {
  margin-bottom: 0;
}
.page-text p:empty {
  display: none;
}

.stationId {
  border: 1px solid var(--fg-color);
  border-radius: 50%;
  display: inline-block;
  font-family: 'Fira Mono', monospace;
  font-size: 10px;
  font-weight: 400;
  height: 14px;
  line-height: 12px;
  text-align: center;
  vertical-align: middle;
  width: 14px;
}

.page-candlesticks,
.page-charts {
  display: block;
  margin: 0 0 40px 0;
  overflow: hidden;
}

@media screen and (min-width:1280px) {
  .page-candlesticks,
  .page-charts {
    margin: 0 auto 40px auto;
    max-width: 1600px;
    width: 100%;
  }
}

.page-candlestick-title h2,
.page-chart-title h2 {
  font-size: 8px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
}

@media screen and (min-width:768px) {
  .page-candlestick-title h2,
  .page-chart-title h2 {
    font-size: 12px;
  }
}

.page-candlestick,
.page-chart {
  height: auto;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.page-chart {
  margin-bottom: 40px;
}

.page-candlestick .page-candlestick-scroller,
.page-chart .page-chart-scroller {
  border-bottom: 1px solid var(--neutral-color);
  border-top: 1px solid var(--neutral-color);
  box-shadow: inset 0 15px 15px 0 var(--neutral-color), inset 0 -15px 15px 0 var(--neutral-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 212px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 20px;
  scroll-snap-type: x mandatory;
  width: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width:768px) {
  .page-candlestick .page-candlestick-scroller,
  .page-chart .page-chart-scroller {
    height: 242px;
  }
}

@media screen and (min-width:1280px) {
  .page-candlestick .page-candlestick-scroller,
  .page-chart .page-chart-scroller {
    border-color: transparent;
    box-shadow: none;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
  }
}

.page-candlestick .page-candlestick-wrapper,
.page-chart .page-chart-wrapper {
  display: block;
  flex: 0 0 85vw;
  height: 160px;
  max-width: 85vw;
  padding: 0 40px;
  position: relative;
}

@media screen and (min-width:768px) {
  .page-candlestick .page-candlestick-wrapper,
  .page-chart .page-chart-wrapper {
    flex: 0 0 65vw;
    height: 190px;
    max-width: 65vw;
  }
}

@media screen and (min-width:1280px) {
  .page-candlestick .page-candlestick-wrapper,
  .page-chart .page-chart-wrapper {
    flex: 0 0 50%;
    height: 190px;
    margin-bottom: 80px;
    max-width: 50%;
  }
}

.page-candlestick .page-candlestick-wrapper:after,
.page-chart .page-chart-wrapper:after {
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: arrow;
  animation-timing-function: ease-in-out;
  content: '⟩⟩';
  display: block;
  font-size: 18px;
  height: 30px;
  letter-spacing: 0.001em;
  line-height: 30px;
  position: absolute;
  right: -15px;
  text-align: center;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 30px;
}

@media screen and (min-width:1280px) {
  .page-candlestick .page-candlestick-wrapper:after,
  .page-chart .page-chart-wrapper:after {
    content: none;
    display: none;
  }
}

.page-candlestick .page-candlestick-wrapper:first-child:before,
.page-chart .page-chart-wrapper:first-child:before,
.page-candlestick .page-candlestick-wrapper:only-child:before,
.page-chart .page-chart-wrapper:only-child:before,
.page-candlestick .page-candlestick-wrapper:last-child:after,
.page-chart .page-chart-wrapper:last-child:after,
.page-candlestick .page-candlestick-wrapper:only-child:after,
.page-chart .page-chart-wrapper:only-child:after {
  content: none;
  display: none;
}

.page-candlestick .page-candlestick-wrapper:only-child,
.page-chart .page-chart-wrapper:only-child {
  flex: 0 0 100%;
  max-width: 100%;
}

.page-candlestick .page-candlestick-wrapper-inner,
.page-chart .page-chart-wrapper-inner {
  display: block;
  height: 160px;
  position: relative;
  width: 100%;
}

@media screen and (min-width:768px) {
  .page-candlestick .page-candlestick-wrapper-inner,
  .page-chart .page-chart-wrapper-inner {
    height: 190px;
  }
}

@media screen and (min-width:1280px) {
  .page-candlestick .page-candlestick-wrapper-inner,
  .page-chart .page-chart-wrapper-inner {
    background-color: var(--neutral-color);
    box-shadow: 0 0 0 20px var(--neutral-color);
  }
}

.page-candlestick .page-candlestick-wrapper-title,
.page-chart .page-chart-wrapper-title {
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.page-candlestick .page-candlestick-wrapper-title h3,
.page-chart .page-chart-wrapper-title h3 {
  display: block;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}

@media screen and (min-width:768px) {
  .page-candlestick .page-candlestick-wrapper-title h3,
  .page-chart .page-chart-wrapper-title h3 {
    font-size: 12px;
  }
}

.page-candlestick .page-candlestick-container,
.page-chart .page-chart-container {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.page-candlestick .page-candlestick-x-axis-thick,
.page-chart .page-chart-x-axis-thick {
  background-color: var(--ac4-color);
  display: block;
  height: 4px;
  position: absolute;
  transform: translate3d(-50%, 0, 0);
  width: 1px;
  z-index: 1;
}

.page-candlestick .page-candlestick-x-axis-thick-highlight,
.page-chart .page-chart-x-axis-thick-highlight {
  height: 6px;
}

.page-candlestick .page-candlestick-y-axis-thick,
.page-chart .page-chart-y-axis-thick {
  background-color: var(--fg-color);
  display: none;
  height: 1px;
  position: absolute;
  transform: translate3d(-105%, -50%, 0);
  width: 4px;
  z-index: 1;
}

.page-candlestick .page-candlestick-x-axis-label,
.page-chart .page-chart-x-axis-label {
  bottom: 0;
  color: var(--fg-color);
  display: block;
  font-family: 'Fira Mono', monospace;
  font-size: 8px;
  font-weight: 400;
  height: auto;
  line-height: 12px;
  letter-spacing: 1px;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  transform: translate3d(-55%, 0, 0);
  white-space: nowrap;
  z-index: 1;
}

@media screen and (min-width:768px) {
  .page-candlestick .page-candlestick-x-axis-label,
  .page-chart .page-chart-x-axis-label {
    font-size: 9px;
    line-height: 10px;
  }
}

.page-candlestick .page-candlestick-x-axis-label:last-of-type,
.page-chart .page-chart-x-axis-label:last-of-type {
  transform: translate3d(-100%, 0, 0);
}

.page-candlestick .page-candlestick-x-axis-label:first-of-type,
.page-chart .page-chart-x-axis-label:first-of-type {
  transform: translate3d(0, 0, 0);
}

.page-candlestick .page-candlestick-y-axis-marker,
.page-chart .page-chart-y-axis-marker {
  background-color: var(--fg-color);
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  transform: translate3d(0, -50%, 0);
  z-index: 1;
}

.page-candlestick .page-candlestick-y-axis-marker,
.page-chart .page-chart-y-axis-marker {
  background-color: var(--fg-color);
  display: block;
  height: 1px;
  left: 0;
  opacity: .25;
  position: absolute;
  right: 0;
  transform: translate3d(0, -50%, 0);
  z-index: 1;
}


.page-candlestick .page-candlestick-y-axis-marker-label,
.page-chart .page-chart-y-axis-marker-label {
  background-color: transparent !important;
  display: block;
  font-family: 'Fira Mono', monospace;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  position: absolute;
  right: 5px;
  transform: translate3d(0, 2px, 0);
  z-index: 2;
}

.page-candlestick .page-candlestick-y-axis-marker-label.level-0,
.page-chart .page-chart-y-axis-marker-label.level-0 {
  color: var(--base-scale0-color);
}

.page-candlestick .page-candlestick-y-axis-marker-label.level-1,
.page-chart .page-chart-y-axis-marker-label.level-1 {
  color: var(--base-scale3-color);
}

.page-candlestick .page-candlestick-y-axis-marker-label.level-2,
.page-chart .page-chart-y-axis-marker-label.level-2 {
  color: var(--base-scale4-color);
}

.page-candlestick .page-candlestick-y-axis-marker-label.level-3,
.page-chart .page-chart-y-axis-marker-label.level-3 {
  color: var(--base-scale5-color);
}

.page-candlestick .page-candlestick-y-axis-marker-label.level-4,
.page-chart .page-chart-y-axis-marker-label.level-4 {
  color: var(--base-scale6-color);
}

.page-candlestick-y-axis-label,
.page-chart-y-axis-label {
  display: none;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  position: absolute;
  left: 15px;
  transform: translate3d(-100%, -50%, 0);
}

.page-candlestick-point,
.page-chart-point {
  background: var(--ac0-color);
  border-radius: 50%;
  display: block;
  height: 5px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  width: 5px;
  z-index: 3;
}

@media screen and (min-width:768px) {
  .page-candlestick-point,
  .page-chart-point {
    height: 8px;
    width: 8px;
  }
}

@media screen and (min-width:1280px) {
  .page-candlestick-point,
  .page-chart-point {
    height: 10px;
    width: 10px;
  }
}

.page-candlestick-point-connector {
  background: var(--ac0-color);
  display: block;
  position: absolute;
  transform: translate3d(-50%, 0, 0);
  width: 3px;
}

.page-candlestick-point-connector.level-0-level-0 {
  background: var(--base-scale0-color);
}

.page-candlestick-point-connector.level-1-level-1 {
  background: var(--base-scale2-color);
}

.page-candlestick-point-connector.level-2-level-2 {
  background: var(--base-scale4-color);
}

.page-candlestick-point-connector.level-3-level-3 {
  background: var(--base-scale5-color);
}

.page-candlestick-point-connector.level-4-level-4 {
  background: var(--base-scale6-color);
}

.page-candlestick-point-connector.level-1-level-0 {
  background: linear-gradient(to bottom, var(--base-scale2-color) 0%, var(--base-scale0-color) 100%);
}

.page-candlestick-point-connector.level-2-level-0 {
  background: linear-gradient(to bottom, var(--base-scale4-color) 0%, var(--base-scale0-color) 100%);
}

.page-candlestick-point-connector.level-3-level-0 {
  background: linear-gradient(to bottom, var(--base-scale5-color) 0%, var(--base-scale0-color) 100%);
}

.page-candlestick-point-connector.level-4-level-0 {
  background: linear-gradient(to bottom, var(--base-scale6-color) 0%, var(--base-scale0-color) 100%);
}

.page-candlestick-point-connector.level-2-level-1 {
  background: linear-gradient(to bottom, var(--base-scale4-color) 0%, var(--base-scale2-color) 100%);
}

.page-candlestick-point-connector.level-3-level-1 {
  background: linear-gradient(to bottom, var(--base-scale5-color) 0%, var(--base-scale2-color) 100%);
}

.page-candlestick-point-connector.level-4-level-1 {
  background: linear-gradient(to bottom, var(--base-scale6-color) 0%, var(--base-scale2-color) 100%);
}

.page-candlestick-point-connector.level-3-level-2 {
  background: linear-gradient(to bottom, var(--base-scale5-color) 0%, var(--base-scale4-color) 100%);
}

.page-candlestick-point-connector.level-4-level-2 {
  background: linear-gradient(to bottom, var(--base-scale6-color) 0%, var(--base-scale4-color) 100%);
}

.page-candlestick-point-connector.level-4-level-3 {
  background: linear-gradient(to bottom, var(--base-scale6-color) 0%, var(--base-scale5-color) 100%);
}


.page-footer {
  background: var(--fg-color);
  color: var(--bg-color);
  display: block;
  height: auto;
  margin-top: 80px;
  padding: 60px 0 40px 0;
  width: auto;
}

.page-footer .wrapper {
   display: block;
   padding: 60px 40px 0 40px;
}

@media screen and (min-width:768px) {
  .page-footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 60px 0 0 0;
    width: auto;
  }
}

@media screen and (min-width:960px) {
  .page-footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 60px 0 0 0;
    width: 940px;
  }
}

@media screen and (min-width:1280px) {
  .page-footer .wrapper {
    width: 1280px;
  }
}

.page-footer .column {
  display: block;
  padding: 0 0 40px 0;
}

@media screen and (min-width:768px) {
  .page-footer .column {
    flex: 0 0 50%;
    padding: 0 40px 40px 40px;
  }
}

@media screen and (min-width:960px) {
  .page-footer .column {
    padding: 0 20px 40px 20px;
  }
}


@media screen and (min-width:768px) {
  .page-footer .column:first-child {
    flex: 0 0 100%;
  }
}

.page-footer h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page-footer h3 a {
  color: var(--bg-color);
  text-decoration: none;
}

.page-footer h3 img {
  display: inline-block;
  height: 18px;
  object-fit: contain;
  vertical-align: middle;
  width: 18px;
}

.page-footer h3 a:hover {
  background: transparent;
  box-shadow: none;
  color: var(--ac0-color);
  text-decoration: none;
}

.page-footer ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer strong {
  font-weight: 200;
}

.page-social {
  display: flex;
  justify-content: center;
}

.page-social .social-button {
  flex: 0 1 auto;
  padding: 0 10px;
}

@media screen and (min-width:768px) {
  .page-social .social-button {
    padding: 0 20px;
  }
}