:root {
  --bg-color: #E6F4F1;
  --fg-color: #364954;
  
  --ac0-color: #00C2FF;
  --ac1-color: #009AD5;
  --ac2-color: #0074AC;
  --ac3-color: #005185;
  --ac4-color: #002F60;

  --scale0-color: #AD2370;
  --scale1-color: #D74364;
  --scale2-color: #F36C57;
  --scale3-color: #FF9A4F;
  --scale4-color: #FFC954;
  --scale5-color: #F9F871;
  --scale6-color: #9BDE7E;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--ac0-color);
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.page-header {
  display: block;
  height: 40px;
  margin: 20px 0;
  width: 100%;
}

.page-header h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.page-maps {
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px;
}

.page-map {
  display: block;
  flex: 0 0 50%;
  height: auto;
  margin: 0 0 20px 0;
  max-width: 50%;
  position: relative;
  width: auto;
}

.page-map-container {
  display: block;
  height: auto;
  position: relative;
  width: 100%;
}

.page-map-container::before {
  background: transparent url(picture.png) center center no-repeat;
  background: transparent url(shape.png) center center no-repeat;
  background-size: contain;
  content: '';
  display: block;
  padding-bottom: 100%;
  transition: background-image .25s ease-in-out;
  width: 100%;
}

.page-map-container:hover::before,
.page-map-container:active::before {
  background: transparent url(picture.png) center center no-repeat;
  background-size: contain;
}

.page-map .marker {
  background: var(--scale2-color);
  border-radius: 50%;
  display: block;
  height: 10px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: 50% 50%;
  width: 10px;
}

.page-map .marker.marker-6 {
  left: 56%;
  top: 60%;
}

.page-map .marker.marker-2 {
  right: 22%;
  top: 38%;
}

.page-map .marker.marker-0 {
  left: 48%;
  top: 56%;
}

.page-map .marker.marker-1 {
  left: 60%;
  top: 30%;
}

.page-map .marker.marker-8 {
  right: 18%;
  top: 30%;
}

.page-map .marker.marker-3 {
  left: 60%;
  top: 43%;
}

.page-map .marker.marker-4 {
  left: 57%;
  top: 48%;
}

.page-map .marker.marker-7 {
  left: 40%;
  top: 42%;
}

.page-map .marker.marker-5 {
  right: 29%;
  top: 39%;
}

.page-map-title h2 {
  font-size: 8px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
}

.page-charts {
  display: block;
  margin: 40px;
}

.page-chart-title h2 {
  font-size: 8px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
}